# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.env/
.venv/
ENV/
env/

# =========================
# ENV FILES
# =========================
.env
*.env

# =========================
# FASTAPI / UVICORN
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TESTS / CACHE
# =========================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# =========================
# BUILD
# =========================
dist/
build/
*.egg-info/

# =========================
# SQLITE
# =========================
*.db
*.sqlite3